{
    "extends": "next",
    "rules": {
        "react/jsx-curly-brace-presence": "warn",
        "react/no-array-index-key": "warn",
        "react/no-unescaped-entities": "warn",
        "@typescript-eslint/no-floating-promises": "warn"
    }
}
