{
    "extends": "next",
    "rules": {
        "react/jsx-curly-brace-presence": "off",
        "react/no-array-index-key": "off",
        "react/no-unescaped-entities": "off",
        "@typescript-eslint/no-floating-promises": "off"
    }
}
